html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #2C4058;
}

.about {
  position: relative;
}

.about__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 70px;
  z-index: 1;
}

.about__card:last-child {
  margin: 200px 0 140px;
}

.about__content {
  width: 50%;
}

.about__background {
  width: 40%;
  height: 430px;
  background-color: #55B7FF;
  position: absolute;
  z-index: -1;
}

.about__background--left {
  top: 90px;
  left: 0px;
}

.about__background--right {
  background: #7E5AFF;
  right: 0;
  bottom: 50px;
}

.news {
  padding: 130px 0;
  background-image: url(../img/bg/city.png), linear-gradient(237.1deg, #24CCFA 11.16%, #3C7FD4 89.18%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.gallery__btn {
  margin: 60px 0 120px;
  text-align: center;
}

.gallery-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.gallery-images__card {
  width: 100%;
}

.gallery-images__card--icon {
  position: relative;
}

.gallery-images__card--icon::before {
  content: url(../img/icons/360-icon.svg);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.gallery-images__card--icon:hover {
  background: linear-gradient(251.06deg, #7e5aff79 -2.19%, #55B7FF 103.21%);
}

.gallery-images__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.gallery-images__item {
  width: 49%;
}

.map {
  height: 700px;
}

.footer {
  background-image: url(../img/bg/scott-webb.png), linear-gradient(251.06deg, #7E5AFF -2.19%, #55B7FF 103.21%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.footer-content {
  padding: 220px 0 180px;
}

.footer-content__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer-content__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.contacts {
  width: 770px;
  background-color: #FFFFFF;
  position: absolute;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  left: 50%;
  top: -300px;
  padding: 70px 50px;
  z-index: 5;
}

.contacts__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 54px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contacts__text {
  display: block;
  font-size: 18px;
  line-height: 28px;
  color: #000;
  margin-bottom: 20px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 70px;
}

.menu__link {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  text-transform: uppercase;
  position: relative;
  white-space: nowrap;
}

.menu__link::before {
  content: '';
  position: absolute;
  width: 9px;
  height: 9px;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  left: -25px;
}

.menu__link:hover::before {
  background-color: #FFFFFF;
}

.btn-menu {
  display: none;
  cursor: pointer;
  z-index: 2;
}

.btn-menu .open-button {
  display: block;
}

.btn-menu .close-button {
  display: none;
}

.btn-menu.is-active .open-button {
  display: none;
}

.btn-menu.is-active .close-button {
  display: block;
}

.slider {
  position: relative;
}

.slider__card {
  margin-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #FFFFFF;
  padding-bottom: 30px;
}

.slider__item:nth-child(2) {
  padding: 0 20px;
}

.slider__autor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  margin-top: 46px;
}

.slider__name {
  line-height: 22px;
  margin-bottom: 6px;
}

.slider__date {
  font-size: 14px;
  line-height: 17px;
  color: #55B7FF;
}

.slider__img {
  border-radius: 50%;
}

.slider .slick-track {
  height: 550px;
}

.slider .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 5;
  font-size: 0;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  cursor: pointer;
}

.slider .slick-arrow.slick-prev {
  left: -60px;
}

.slider .slick-arrow.slick-prev::before {
  content: url(../img/icons/prev.svg);
}

.slider .slick-arrow.slick-next {
  right: -30px;
}

.slider .slick-arrow.slick-next::before {
  content: url(../img/icons/next.svg);
}

.slider .slick-arrow.slick-disabled {
  opacity: 0.5;
}

.slick-dots {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
}

.slick-dots button {
  cursor: pointer;
  font-size: 0;
  height: 15px;
  border: 1px solid #FFFFFF;
  background: transparent;
  border-radius: 50%;
}

.slick-dots li.slick-active button {
  background-color: #FFFFFF;
}

.hero-slider {
  position: relative;
  height: 100vh;
}

.slick-vertical .slick-slide {
  height: 100vh;
}

.hero-slider .slick-dots {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  right: 52px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  top: 50%;
  margin-top: 0px;
}

.container {
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 53px;
  gap: 110px;
  position: absolute;
  z-index: 2;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  left: 50%;
}

.header__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.hero {
  background-image: url(../img/bg/tu-tram-pham-202263.png), linear-gradient(251.06deg, #7E5AFF -2.19%, #55B7FF 103.21%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative;
}

.hero--bg1 {
  background-image: url(../img/bg/tu-tram-pham-202263.png), linear-gradient(251.06deg, #ff6958dd -2.19%, #55B7FF 103.21%);
}

.hero--bg2 {
  background-image: url(../img/bg/tu-tram-pham-202263.png), linear-gradient(251.06deg, #69e4e4 -2.19%, #daff55 103.21%);
}

.hero--bg3 {
  background-image: url(../img/bg/tu-tram-pham-202263.png), linear-gradient(251.06deg, #ef63d1e2 -2.19%, #f54ea1 103.21%);
}

.hero--bg4 {
  background-image: url(../img/bg/tu-tram-pham-202263.png), linear-gradient(251.06deg, #e60707 -2.19%, #55B7FF 103.21%);
}

.hero__content {
  text-align: center;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  max-width: 917px;
}

.btn-down {
  position: absolute;
  padding-bottom: 53px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 97%;
  left: 50%;
}

.img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.icon {
  color: #FFFFFF;
  font-size: 18px;
  padding: 10px;
  border-radius: 50%;
  border: 1px solid #FFFFFF;
}

.icon:hover {
  border: 1px solid #2C4058;
  color: #2C4058;
}

.icon--pad {
  padding: 10px 13px;
}

.button {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #000000;
  padding: 16px 57px;
  background: transparent;
  border: 1px solid #2C4058;
  cursor: pointer;
}

.button:hover {
  font-weight: 700;
  border: 2px solid #55B7FF;
}

.button--form {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

.input {
  width: 310px;
  border: none;
  border-bottom: 1px solid #2C4058;
  font-size: 18px;
  line-height: 27px;
  color: #000;
  letter-spacing: 1.5px;
  background-color: transparent;
}

.input::-webkit-input-placeholder {
  opacity: 0.5;
}

.input:-ms-input-placeholder {
  opacity: 0.5;
}

.input::-ms-input-placeholder {
  opacity: 0.5;
}

.input::placeholder {
  opacity: 0.5;
}

.input:focus-visible {
  outline: none;
}

.title {
  font-weight: 700;
  font-size: 80px;
  line-height: 98px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  margin-bottom: 20px;
  white-space: nowrap;
}

.text {
  line-height: 22px;
  letter-spacing: 0.3em;
  color: #FFFFFF;
}

.dark-text {
  font-family: "Open Sans", sans-serif;
  line-height: 30px;
  margin: 19px 0 41px;
}

.text-italic {
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  margin-top: 60px;
}

.sub-title-sm {
  font-size: 22px;
  line-height: 27px;
  color: #2C4058;
}

.sub-title {
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  text-transform: uppercase;
}

.sub-title--line {
  text-align: center;
  margin: 120px 0 89px;
  position: relative;
}

.sub-title--line::before {
  content: '';
  position: absolute;
  width: 100px;
  height: 1px;
  background-color: #2C4058;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  left: 50%;
  top: -30px;
}

.sub-title--white {
  color: #FFFFFF;
  margin-top: 20px;
}

.sub-title--white::before {
  background-color: #FFFFFF;
}

.sub-title--mr {
  margin: 30px 0 42px;
}

.title-small {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  margin: 23px 0 15px;
}

.text-small {
  line-height: 25px;
}

.footer-text {
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  margin-top: 41px;
}

.text-violet {
  color: #7E5AFF;
  margin-right: 10px;
}

@media (max-width: 1300px) {
  .slider .slick-track {
    height: 635px;
  }
}

@media (max-width: 1100px) {
  .lock-scroll {
    overflow: hidden;
  }
  .header {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__logo {
    z-index: 2;
  }
  .menu {
    display: none;
    z-index: 1;
    padding: 120px 30px 0;
  }
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 40px;
  }
  .menu__link {
    font-size: 22px;
    font-weight: 700;
  }
  .menu.is-open {
    opacity: 1;
    position: fixed;
    background-image: url(../img/bg/city.png), linear-gradient(237.1deg, #24CCFA 11.16%, #3C7FD4 89.18%);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu-icons {
    display: none;
    z-index: 1;
  }
  .menu-icons.is-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 40px;
  }
  .btn-menu {
    display: block;
  }
  .title {
    font-size: 50px;
  }
  .text {
    white-space: nowrap;
  }
  .gallery-images {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .gallery-images__item {
    max-width: 100%;
  }
}

@media (max-width: 790px) {
  .slider .slick-track {
    height: 550px;
  }
  .title,
  .text {
    white-space: normal;
  }
  .title {
    line-height: 50px;
  }
  .about__card {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .about__card:last-child {
    margin: 70px 0;
  }
  .about__content {
    width: 100%;
  }
  .about__background {
    width: 70%;
  }
  .about__background--right {
    bottom: 80px;
  }
  .contacts {
    width: 100%;
    background-color: #FFFFFF;
    position: relative;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    left: 0;
    top: 0px;
    padding: 70px 50px;
  }
}

@media (max-width: 520px) {
  .about__card {
    gap: 10px;
  }
  .about__background {
    height: 300px;
  }
  .about__background--right {
    bottom: 100px;
  }
  .footer-content {
    padding: 80px 0;
  }
  .footer-content__item {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    gap: 40px;
  }
  .contacts {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    left: 0;
    top: 0;
    padding: 40px 20px;
  }
  .gallery-images__item {
    width: 100%;
  }
}

@media (max-width: 417px) {
  .header {
    gap: 15px;
  }
  .title {
    font-size: 38px;
  }
  .hero-slider .slick-dots {
    right: 22px;
  }
  .sub-title {
    font-size: 32px;
  }
  .sub-title--line {
    margin: 50px 0;
  }
  .input {
    width: 100%;
  }
  .about__card {
    gap: 50px;
  }
  .about__background {
    height: 200px;
  }
  .about__background--right {
    bottom: 120px;
  }
  .about__background--left {
    top: 50px;
  }
  .text-italic {
    margin-top: 20px;
  }
  .slick-dots {
    gap: 20px;
  }
  .news {
    padding: 60px 0;
  }
}
