* {
  box-sizing: border-box;
}

body {
  font-family: $base-font-famile;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  color: $main-color;
}


.map {
  height: 700px;
}

.marker {
  padding: 27px;
  background-color: $main-color;
  // background-color: $secondary-color;
}
