.container {
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  padding-top: 53px;
  gap: 110px;
  position: absolute;
  z-index: 2;
  transform: translate(-50%, 0);
  left: 50%;

  &__icons {
    display: flex;
    gap: 20px;
  }
}

.hero {
  background-image: url(../img/bg/tu-tram-pham-202263.png), linear-gradient(251.06deg, #7E5AFF -2.19%, #55B7FF 103.21%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative;

  &--bg1 {
    background-image: url(../img/bg/tu-tram-pham-202263.png), linear-gradient(251.06deg, #ff6958dd -2.19%, #55B7FF 103.21%);
  }

  &--bg2 {
    background-image: url(../img/bg/tu-tram-pham-202263.png), linear-gradient(251.06deg, #69e4e4 -2.19%, #daff55 103.21%);
  }

  &--bg3 {
    background-image: url(../img/bg/tu-tram-pham-202263.png), linear-gradient(251.06deg, #ef63d1e2 -2.19%, #f54ea1 103.21%);
  }

  &--bg4 {
    background-image: url(../img/bg/tu-tram-pham-202263.png), linear-gradient(251.06deg, #e60707 -2.19%, #55B7FF 103.21%);
  }

  &__content {
    text-align: center;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    max-width: 917px;
  }

}

.btn-down {
  position: absolute;
  padding-bottom: 53px;
  transform: translate(-50%, -50%);
  top: 97%;
  left: 50%;
}