
.menu {

  &__list {
    display: flex;
    gap: 70px;
  }

  &__link {
    font-family: $nav-font-famile;
    font-size: 14px;
    line-height: 18px;
    color: $secondary-color;
    text-transform: uppercase;
    position: relative;
    white-space: nowrap;

    &::before {
      content: '';
      position: absolute;
      width: 9px;
      height: 9px;
      border: 1px solid $secondary-color;
      border-radius: 50%;
      top: 50%;
      transform: translate(0, -50%);
      left: -25px;

    }

    &:hover::before {
      background-color: $secondary-color;
    }
  }
}

.btn-menu {
  display: none;
  cursor: pointer;
  z-index: 2;

  .open-button {
    display: block;
  }
  .close-button {
    display:none;
  }

  &.is-active {
    // position: fixed;
    // top: 23px;
    // right: 25px;

    .open-button {
      display: none;
    }
    .close-button {
      display: block;
    }
  
  }

}
