$main-color: #2C4058;
$secondary-color: #FFFFFF; 

$base-font-famile: 'Montserrat', sans-serif;
$secondary-font-famile: 'Open Sans', sans-serif;
$nav-font-famile: 'Source Sans Pro', sans-serif;

$base-font-size: 18px;
$base-font-weight: 400;
